@import "tailwindcss";


@layer components{
    .p{
        @apply text-[#FFFFFFB2] text-[16px]/[26px];
    }
    .spechial_bg{
        @apply bg-linear-to-r from-[#33BBCF] to-[#DEF9FA] text-transparent bg-clip-text;
    }
    .h2{
        @apply text-[#eee] font-bold text-3xl md:text-5xl/snug;
    }
}

html{
    scroll-behavior: smooth;
}

.collect{
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}


@media (max-width: 767px) {
    .collect{
        width: 100% !important;
    }
} 
@media (min-width: 768px) {
    .collect{
        width: 750px;
    }
} 
@media (min-width: 992px) {
    .collect{
        width: 950px;
    }
}
@media (min-width: 1200px) {
    .collect{
        width: 1150px;
    }
}

@layer components {
    .bg_main {
        @apply bg-[#00040F]
    }
}

.active{
    color: #7DE7EB;
}

h1{
    text-shadow: 0 6px 10px rgba(255, 255, 255, 0.185)
}
/* // btn// */

.button {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
    color: #333;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
}

    .button:hover {
    transform: scale(1.05);
    border-color: #fff9;
}

    .button:hover .icon {
    transform: translate(4px);
}

    .button:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 30%,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
}

@keyframes shine {
    0% {
        left: -100px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}

/* //finsh btn// */

.logo_box{
    animation: moveLift infinite linear 4s;
    -webkit-animation: moveLift infinite linear 4s;
}
@media (min-width:767px){
    .logo_box{
    animation: moveLift infinite linear 9s;
    -webkit-animation: moveLift infinite linear 9s;
}
}
@keyframes moveLift {
    0%{
        transform: translatex(0);
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -ms-transform: translatex(0);
        -o-transform: translatex(0);
}
    100%{
        transform: translatex(-80%);
        -webkit-transform: translatex(-80%);
        -moz-transform: translatex(-80%);
        -ms-transform: translatex(-80%);
        -o-transform: translatex(-80%);
}
}

.links a{
    color: #FFFFFFB2 !important;
}